.App {
  text-align: center;
}

.charts-container {
  display: grid;
  grid-template-columns: auto auto;
}
.add-button{
  box-sizing: border-box;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
}

.header-component{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 10px;

  .left-header {
    display: flex;
    max-width: 500px;
  }

  .right-header {
    display: flex;
    align-items: center;
  }
}

.content-container {
  padding: 40px 180px;
  display: flex;
  justify-content: space-between;

  .high-votes-content {
    display: flex;
    flex-direction: column;
    height: 180px;
    line-height: 40px;

    .highest-votes {
      font-size: 36px;
      font-weight: 900;
      color: darkcyan;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .highest-votes-city {
      font-size: 28px;
      font-weight: 700;
      color: darkblue;
    }

    .highest-votes-text {
      font-size: 24px;
      font-weight: 600;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
  }
}

.sidenav{
  height: 100%;  width: 10%;  position: fixed; z-index: 1; top: 0; left: 0; background-color:#232323; transition: .5s ease; overflow-x: hidden; padding-top: 20px; display: flex; flex-direction: column; align-items: center;
}

.landing-container{
  position: relative;
left:100px;
display: inline-block;
}

.filter-component{
  width: 200px;
  padding:15px;
  display: inline-block;
  vertical-align: middle;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
